* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Jost", sans-serif;
  list-style: none;
  text-decoration: none;
}
header {
  width: 100%;
  top: 0;
  right: 0;
  z-index: 2000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10%;
}
.logo {
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-weight: 725;
}
.logo span {
  color: #0037fa;
}
.navmenu {
  display: flex;
}
.navmenu a {
  color: #000;
  font-size: 16px;
  text-transform: capitalize;
  padding: 10px 20px;
  font-weight: 0;
}
.navmenu a:hover {
  color: rgb(0, 25, 255);
  transition: 0.4s ease;
}
.loginn {
  display: inline-block;
  color: #111;
  font-weight: 500;
  font-size: 16px;
  text-transform: capitalize;
  border: 2px solid #111;
  padding: 12px 25px;
  border-radius: 10px;
  transition: all 0.36s ease;
}
.loginn:hover {
  background-color: rgb(0, 25, 255);
  color: #fff;
  font-weight: 500;
}
section {
  padding: 200px 10%;
}
.main-home {
  width: 100%;
  height: 100%;
  background-image: url(Desktop\ -\ 1.png);
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
}
.main-text h5 {
  color: rgb(0, 0, 0);
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 500;
}
.main-text h5 span {
  color: rgb(0, 25, 255);
}
.main-text h1 {
  color: #000;
  font-size: 50px;
  text-transform: capitalize;
  line-height: 1.1;
  font-weight: 600;
  margin: 6px 0 10px;
}
.main-text p {
  color: #333c56;
  font-size: 16px;
  font-style: italic;
  margin-bottom: 20px;
}
.main-btn {
  display: inline-block;
  color: #111;
  font-weight: 500;
  font-size: 16px;
  text-transform: capitalize;
  border: 2px solid #111;
  padding: 12px 25px;
  transition: all 0.42s ease;
}
.main-btn:hover {
  background-color: rgb(0, 25, 255);
  color: #fff;
  font-weight: 500;
}
.main-btn i {
  vertical-align: middle;
}
.down-arrow {
  position: absolute;
  top: 95%;
  right: 5%;
}
.down i {
  font-size: 30px;
  color: #000;
  border: 2px solid #000000;
  border-radius: 50px;
  padding: 12px 12px;
}
.down i:hover {
  background-color: rgb(0, 25, 255);
  color: #fff;
  transition: all 0.42s ease;
}
.header.sticky {
  background: #fff;
  padding: 20px 10%;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
}
.wrapper {
  position: relative;
  width: 400px;
  height: 440px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.wrapper .icon-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  background: #162938;
  font-size: 2em;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper .form-box {
  width: 100%;
  padding: 40px;
}
.form-box h2 {
  font-size: 2em;
  color: #162938;
  text-align: center;
}
.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #162938;
  margin: 30px 0;
}
.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #162938;
  font-weight: 500;
  pointer-events: none;
  transition: 0.5s;
}
.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #162938;
  font-weight: 600;
  padding: 0 35px 0 5px;
}
.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  color: #162938;
  line-height: 57px;
}
.remember-forgot {
  font-size: 0.9em;
  color: #162938;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}
.remember-forgot label input {
  accent-color: #162938;
  margin-right: 3px;
}
.remember-forgot a {
  color: #162938;
  text-decoration: none;
}
.remember-forgot a:hover {
  text-decoration: underline;
}
.btn {
  width: 100%;
  height: 45px;
  background: rgb(0, 25, 255);
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  color: #fff;
  font-weight: 600;
}
.login-register {
  font-size: 0.9em;
  color: #162938;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}
.login-register p a {
  color: #162938;
  text-decoration: none;
  font-weight: 600;
}
.login-register p a:hover {
  text-decoration: underline;
}

/* BestSeller-Section-css */

.center-text h2 {
  color: #111;
  font-size: 28px;
  text-transform: capitalize;
  text-align: center;
}
.center-text span {
  color: rgb(0, 25, 255);
}
.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, auto));
  gap: 2rem;
}
.row {
  position: relative;
  transition: all 0.4s;
}
.row img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  transition: all 0.4s;
}
.row img:hover {
  transform: scale(0.9);
}
.product-text h5 {
  position: absolute;
  top: 13px;
  left: 13px;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: #27b737;
  padding: 3px 10px;
  border-radius: 2px;
}
.heart-icon {
  position: absolute;
  right: 0;
  font-size: 20px;
}
.heart-icon:hover {
  color: #ee1c47;
}
.rating i {
  color: #ff8c00;
  font-size: 18px;
}
.price h4 {
  color: #111;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 400;
}
.price p {
  color: #151515;
  font-size: 14px;
  font-weight: 600;
}

/* Contact Section */
.contact {
  background-color: #f3f4f6;
  height: 10px;
}
.contact-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, auto));
  gap: 3rem;
}
.first-info a {
  width: 140px;
  height: auto;
}

.contact-info h4 {
  color: #212529;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.contact-info p {
  color: #565656;
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 1.5;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 0.42s;
}
.contact-info p:hover {
  color: rgb(0, 25, 255);
  font-weight: 500;
}
.social-icon i {
  color: #565656;
  margin-right: 10px;
  font-size: 20px;
  transition: all 0.42s;
}
.social-icon i:hover {
  color: rgb(0, 25, 255);
  transform: scale(1.3);
}
.end-text {
  background-color: #d9dbd9;
  text-align: center;
  padding: 20px;
}
.end-text p {
  color: #111;
  text-transform: capitalize;
}

/* Responsive-css */
@media (max-width: 890px) {
  header {
    padding: 20px 3%;
    transition: 0.3s;
  }
}
@media (max-width: 630px) {
  .main-text h1 {
    font-size: 50px;
    transition: 0.4s;
  }
  .main-text p {
    font-size: 18px;
    transition: 0.4s;
  }
  .main-btn {
    padding: 10px 20px;
    transition: 0.4s;
  }
}

@media (max-width: 750px) {
  .navmenu {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 300px;
    height: 130vh;
    background: #edfff1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 30px;
    transition: all 0.42s;
  }
  .navmenu a {
    display: block;
    margin: 18px 0;
  }
  .navmenu.open {
    right: 0;
  }
}
